grid-item {
    width: 20px;
    height: 20px;
    display:inline-block;
    color: blue;
    border:ridge black .5px  ; /*border and .grid-container's extra 
    few pixels in width section allow all boxes to fit in x by x square with no overflow*/
margin: 0;

  }

#grids{
  display: flex;/*the two properties make the boxes fit into the grids dimension */
  flex-wrap: wrap;
  width: 336px;
  height: 336px;  

   
}